.tweet-action {
  display: flex;
  align-items: center;
}

.tweet-action img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.tweet-action span {
  font-size: 14px;
}

/* Styles pour l'effet de survol */
.tweet-action.hovered {
  background-color: #f0f0f0; /* Couleur de fond lors du survol */
  border-radius: 4px; /* Bord arrondi lors du survol */
}
