/* CODE SIDE BAR by christian birego*/
.sidebar {
  position: sticky;
  left: 0;
  top: 10px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 275px;
  height: 1024px;
}

.Navigation {
  position: relative;
  top: 5px;
  left: 10px;
}
.menu {
  margin-left: 30px;
  display: flex;
  gap: 5px;
}
.icon {
  margin-top: 12px;
}

/*CODE TREND*/

.trend {
  display: flex;
  flex-direction: column;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 20px;
  height: 1080px;
  margin-top: 10px;
  gap: 20px;
}
.trend-column{
  background-color: #202327;
  border-radius: 20px;
  width: 300px;
}
.trend-column input {
  margin: 0 30px;
  color: #6E767D;
  border: 2px solid;
  background-color: #202327;
  border-radius: 10px;
  height: 25px;
  width: 200px;
}
.trends{
  height: 426px;
  width: 300px;
}
.flex{
  display: flex;
}
.profile-container{
  display: flex;
  flex-direction: row;
}
.profil{
  flex: 0 0 800px;
}
.profil h1{
  text-align: center;
}
.trend,
.follow {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #202327;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.trend p,
h4 {
  margin: 5px;
}

.trends-body,
.follow-body {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.trend-title {
  display: flex;
  justify-content: space-between;
}

.search {
  background-color: #202327;
  padding: 3px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.search input {
  border: none;
  outline: none;
  color: white;
  font-size: large;
}

.trend-more {
  color: #1d9bf0;
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.follow-button button {
  padding: 5px 20px;
  border-radius: 50px;
  color: black;
  border: transparent;
  font-size: medium;
}

.follow-body {
  display: flex;
}

.follow-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.follow p,
h4 {
  margin: 5px;
}

.follow-titles {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.follow p,
.trend p {
  color: #8a8a8a;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  color: #8a8a8a;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 300;
}

.footer1,
.footer2 {
  display: flex;
  gap: 15px;
}